.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: 100 !important;
}
.nav-link:hover {
  text-decoration: underline !important;
  color: rgb(182, 182, 182) !important;
  font-weight: bold;
}

.active {
  text-decoration: underline;
  font-weight: bold !important;
}

.nav-tablet{
  height: 91vh;
}